# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

scraped_pages

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
svenv/
pvenv/
env/
ENV/
.senv/
.venv/
.penv/
.env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Environment variables and settings
*.env
*.env.*

# Mypy, Pyright, Pylint
.mypy_cache/
.pyright/
pylint-report.txt

# Pytest
.pytest_cache/
.cache/
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints

# SQLite database files
*.sqlite3
*.db

# Logs
*.log

# FastAPI generated docs cache (if any)
openapi.json

# Local run artifacts
instance/
uploads/
